{{> header}}

<h1>Endpoints</h1>

{{!-- <pre><code>{{json endpoints}}</code></pre> --}}

<nav>
    <ul>
        {{#each endpoints}}
            <li><a href="{{this.path}}">{{this.name}}</a></li>
        {{/each}}
    </ul>
</nav>

{{> footer}}
